<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>WDD | 3.0</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/public/img/favicon.png" rel="icon">
  <link href="/public/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/public/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/public/lib/venobox/venobox.css" rel="stylesheet">
  <link href="/public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/public/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header" class="header-fixed">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="index.html#intro" class="scrollto"><img src="/public/img/logo.png" alt="WDD" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#speakers">Speakers</a></li>
          <li><a href="/#schedule">Schedule</a></li>
          <li><a href="/#venue">Venue</a></li>
          <!-- <li><a href="/#hotels">Hotels</a></li> -->
          <li><a href="/#gallery">Gallery</a></li>
          <li><a href="/#testimonials">Testimonials</a></li>
          <li><a href="/#contact">Contact</a></li>
          <li class="buy-tickets"><a href="/#buy-tickets">Buy Tickets</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <main id="main" class="main-page">

    <!--==========================
      Speaker Details Section
    ============================-->
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>Speaker Details</h2>
          <p>{{speaker.description}}</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="/public/img/speakers/{{speaker.img}}" alt="Speaker 1" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>{{speaker.name}}</h2>
              <div class="social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href="https://{{speaker.profileLink}}" target="_blank"><i class="fa fa-linkedin"></i></a>
              </div>
              <p>{{{speaker.details}}}</p>
            </div>
          </div>
          
        </div>
      </div>

    </section>

  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="/public/img/logo.png" alt="WDD">
            <p>We help young graduates and applicants to find the employments of their dream. Its very simple, we get you ready for the job by profiling you and setting the best for your ability and talent.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="/">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="/#about">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>56, Opebi road by salvation, Ikeja, Lagos, Nigeria <br>
              <strong>Phone:</strong> 08064592256, 08090916924 <br>
              <strong>Email:</strong> info@getmeajob.com.ng<br>
            </p>

            <div class="social-links">
              <a href="@alfredvictoria1" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/alfredandvictoriaassociates/" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="https://www.facebook.com/alfredandvictoriaassociates/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; 2019 Copyright <strong>WDD</strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/public/lib/jquery/jquery.min.js"></script>
  <script src="/public/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/public/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/lib/easing/easing.min.js"></script>
  <script src="/public/lib/superfish/hoverIntent.js"></script>
  <script src="/public/lib/superfish/superfish.min.js"></script>
  <script src="/public/lib/wow/wow.min.js"></script>
  <script src="/public/lib/venobox/venobox.min.js"></script>
  <script src="/public/lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="/public/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/public/js/main.js"></script>
</body>

</html>
